.ShowDetail {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  min-width: 190px;
}

.cards__img {
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.cards__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  
  transition: opacity 0.2s ease-in-out;
}

.card__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card__runtime {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card__runtime > .card__rating {
  margin-left: 10px;
}

.card__rating > i {
  color: gold;
  font-size: 15px;
  margin: 4px;
}

.card__description {
  font-size: 14px;
  margin-bottom: 10px;
  overflow: hidden;
  width: 150px;
}

.ShowDetail:hover .cards__img {
  transform: scale(1.1);
}

.ShowDetail:hover .cards__overlay {
  opacity: 1;
  z-index: 1;
}

.card__button  {
  width: 100%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #3e8e41;
}